/* Reset Default Styling */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Styles */

* {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  padding: 0 8px;
  margin: 0 auto;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
}

/* Background Image */

.background {
  position: relative;
  width: 300px;
  height: 600px;
  margin: 0 auto;
  margin-top: 50px;
  background-image: url('./butter_assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #000;
  overflow: hidden;
  animation: full 1s;
}

@keyframes full {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Logo */

.logo {
  position: absolute;
  top: 30px;
  left: 100px;
}

/* Table */

.table {
  position: absolute;
  margin-bottom: -4px;
  bottom: 0;
  left: 0;
  opacity: 0;
  animation-name: bottom-table;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes bottom-table {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Text: Boring Sandwich */

.boring-sandwich {
  width: 50%;
  position: absolute;
  top: 125px;
  left: 75px;
  color: #ee3827;
  font-size: 34px;
  line-height: 1.1;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
  transform: translateX(-300px);
  animation-name: boring-sandwich;
  animation-delay: 2.2s;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes boring-sandwich {
  0% {
    transform: translateX(-300px);
  }

  10%,
  80% {
    transform: translateX(0);
  }
}

/* Sad Sonali */

.sad-sonali {
  position: absolute;
  bottom: 90px;
  right: 0;
  transform: translateX(300px);
  animation-name: sad-sonali;
  animation-delay: 2.2s;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes sad-sonali {
  0% {
    transform: translateX(300px);
  }

  10%,
  80% {
    transform: translateX(0);
  }
}

/* Plate */

.plate {
  position: absolute;
  bottom: 18px;
  left: -38px;
  transform: translateX(-300px);
  animation-name: plate;
  animation-duration: 3.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes plate {
  0% {
    transform: translateX(-300px);
  }

  10%,
  90% {
    transform: translateX(0);
  }
}

/* Text: Sandwicheto */

.sandwicheto {
  width: 64%;
  position: absolute;
  top: 125px;
  left: 54px;
  color: #ee3827;
  font-size: 34px;
  line-height: 1.1;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
  transform: translateX(-300px);
  animation-name: sandwicheto;
  animation-delay: 8.6s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes sandwicheto {
  0% {
    transform: translateX(-300px);
  }

  10%,
  80% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-300px);
  }
}

/* Happy Sonali */

.happy-sonali {
  position: absolute;
  bottom: 98px;
  right: -1px;
  transform: translateX(300px);
  animation-name: happy-sonali;
  animation-delay: 8.6s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes happy-sonali {
  0% {
    transform: translateX(300px);
  }

  10%,
  80% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(300px);
  }
}

/* Text: FunFoods */

.funfoods {
  width: 95%;
  position: absolute;
  top: 125px;
  left: 8px;
  color: #ee3827;
  font-size: 34px;
  line-height: 1.1;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
  transform: translateX(-300px);
  animation-name: funfoods;
  animation-delay: 11.6s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes funfoods {
  0% {
    transform: translateX(-300px);
  }

  10%,
  79% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-300px);
  }
}

/* Chef */

.chef {
  position: absolute;
  bottom: 98px;
  right: 0px;
  transform: translateX(300px);
  animation-name: chef;
  animation-delay: 11.6s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes chef {
  0% {
    transform: translateX(300px);
  }

  10%,
  80% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(300px);
  }
}

/* Bottom Bread */

.bottom-bread {
  position: absolute;
  bottom: 16px;
  left: -36px;
  transform: translateX(-300px);
  animation-name: bottom-bread;
  animation-delay: 5.2s;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes bottom-bread {
  0% {
    transform: translateX(-300px);
  }

  20% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(0);
  }
}

/* Middle Layer */

.middle-layer {
  position: absolute;
  bottom: 38px;
  left: 0;
  transform: translateX(-300px);
  animation-name: middle-layer;
  animation-delay: 5.2s;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes middle-layer {
  0% {
    transform: translateX(-300px);
  }

  20% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(0);
  }
}

/* Mayo */

.mayo {
  position: absolute;
  bottom: 50px;
  left: 8px;
  opacity: 0;
  animation-name: mayo;
  animation-delay: 7.4s;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes mayo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Knife */

.knife {
  position: absolute;
  bottom: 52px;
  left: 134px;
  opacity: 0;
  transform: rotate(-55deg);
  animation-name: knife;
  animation-delay: 7.4s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes knife {
  0% {
    opacity: 0;
    transform: translateX(-100px) rotate(-55deg);
  }

  10% {
    opacity: 1;
    transform: translateX(-100px) rotate(-55deg);
  }

  30% {
    transform: translateX(0) rotate(-55deg);
  }
}

/* Top Bread */

.top-bread {
  position: absolute;
  bottom: 60px;
  left: 5px;
  transform: translate(-300px, 10px);
  animation-name: top-bread;
  animation-delay: 5.2s;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes top-bread {
  0% {
    transform: translate(-300px, 10px);
  }

  20%,
  35% {
    transform: translate(0, 10px);
  }

  50% {
    transform: translate(0, -30px);
  }

  65%, 100% {
    transform: translate(0, 0);
  }
}

/* Full Mayo Sandwich */

.mayo-sandwich {
  position: absolute;
  top: 600px;
  animation-name: full-mayo;
  animation-delay: 14s;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes full-mayo {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-300px);
  }
}

/* Text: Food Mein Magic */

.food-magic {
  width: 60%;
  position: absolute;
  top: 125px;
  left: 60px;
  color: #ee3827;
  font-size: 34px;
  line-height: 1.1;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
  transform: translateX(-300px);
  animation-name: food-magic;
  animation-delay: 14.6s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes food-magic {
  0% {
    transform: translateX(-300px);
  }

  10% {
    transform: translateX(0);
  }

  79% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(0);
  }
}

/* Box */

.box {
  position: absolute;
  bottom: 24px;
  right: 86px;
  transform: translateX(300px);
  animation-name: box;
  animation-delay: 14.6s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes box {
  0% {
    transform: translateX(300px);
  }

  10% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(0);
  }
}

/* Box */

.hat {
  position: absolute;
  bottom: 150px;
  right: 52px;
  transform: translate(-250px, -130px);
  animation-name: hat;
  animation-delay: 15.6s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes hat {
  15% {
    transform: translate(0, -80px);
  }

  100% {
    transform: translate(0, 0);
  }
}

/* Link: Get Recipe */

.get-recipe a {
  position: absolute;
  top: 230px;
  left: 78px;
  padding: 12px 24px;
  background-color: #0e0088;
  border-radius: 10px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-decoration: none;
  transform: translate(-250px, -200px);
  animation-name: link;
  animation-delay: 17.1s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.get-recipe a:hover {
  background-color: #fff;
  color: #0e0088;
  box-shadow: 1px 1px 2px #0e0088, -1px -1px 2px #0e0088;
  transition: 0.3s;
}

@keyframes link {
  100% {
    transform: translate(0, 0);
  }
}