/* Reset Default Styling */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Styles */

* {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  padding: 0 12px;
  margin: 0 auto;
}

.wrapper {
  max-width: 60%;
  margin: 0 auto;
}

/* Background Image */

.background {
  position: relative;
  width: 300px;
  height: 600px;
  margin: 0 auto;
  margin-top: 50px;
  background-image: url('./butter_assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #000;
  /* overflow: hidden; */
}

/* Logo */

.logo {
  position: absolute;
  top: 30px;
  left: 100px;
}

/* Table */

.table {
  position: absolute;
  margin-bottom: -4px;
  bottom: 0;
  left: 0;
}

/* Text: Boring Sandwich */

.boring-sandwich {
  width: 50%;
  position: absolute;
  top: 125px;
  left: 75px;
  color: #ee3827;
  font-size: 34px;
  line-height: 1.1;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
  display: none;
}

/* Sad Sonali */

.sad-sonali {
  position: absolute;
  bottom: 90px;
  right: 0;
  display: none;
}

/* Plate */

.plate {
  position: absolute;
  bottom: 18px;
  left: -38px;
  display: none;
}

/* Text: Sandwicheto */

.sandwicheto {
  width: 64%;
  position: absolute;
  top: 125px;
  left: 54px;
  color: #ee3827;
  font-size: 34px;
  line-height: 1.1;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
  display: none;
}

/* Happy Sonali */

.happy-sonali {
  position: absolute;
  bottom: 98px;
  right: -1px;
  display: none;
}

/* Text: FunFoods */

.funfoods {
  width: 95%;
  position: absolute;
  top: 125px;
  left: 8px;
  color: #ee3827;
  font-size: 34px;
  line-height: 1.1;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
  display: none;
}

/* Chef */

.chef {
  position: absolute;
  bottom: 98px;
  right: 0px;
  display: none;
}

/* Bottom Bread */

.bottom-bread {
  position: absolute;
  bottom: 16px;
  left: -36px;
  display: none;
}

/* Middle Layer */

.middle-layer {
  position: absolute;
  bottom: 38px;
  left: 0;
  display: none;
}


/* Mayo */

.mayo {
  position: absolute;
  bottom: 50px;
  left: 8px;
  display: none;
}


/* Knife */

.knife {
  position: absolute;
  bottom: 52px;
  left: 134px;
  transform: rotate(-55deg);
  display: none;
}

/* Top Bread */

.top-bread {
  position: absolute;
  bottom: 60px;
  left: 5px;
  display: none;
}

/* Text: Food Mein Magic */

.food-magic {
  width: 60%;
  position: absolute;
  top: 125px;
  left: 60px;
  color: #ee3827;
  font-size: 34px;
  line-height: 1.1;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
  /* display: none; */
}

/* Link: Get Recipe */

.get-recipe a {
  position: absolute;
  top: 230px;
  left: 78px;
  padding: 12px 24px;
  background-color: #0e0088;
  border-radius: 10px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.get-recipe a:hover {
  background-color: #fff;
  color: #0e0088;
  box-shadow: 1px 1px 2px #0e0088, -1px -1px 2px #0e0088;
  transition: 0.3s;
}

/* Box */

.box {
  position: absolute;
  bottom: 24px;
  right: 86px;
  /* display: none; */
}

/* Box */

.hat {
  position: absolute;
  bottom: 150px;
  right: 52px;
  /* display: none; */
}